# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

log
err
debug


# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_*.go

_testmain.go

*.exe
*.exe~
*.test
*.prof

log

myconfig.json
mytestconfig.json

simple-post-deleter.exe
tieba-post-deleter.exe
simple-post-deleter.zip

mruby-support
_libmruby.a

.DS_Store